main{
    width: 100%;
    display: grid;
    padding-top: 15%;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
}

.index-logo {
    width: 100%;
    display: grid;
    padding-top: 10%;
    justify-self: center;
    align-self: center;
}