* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}


main {
    height: 93vh;
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
    align-items: center;
    
}


.em-baixo-da-header{
    grid-column: 1/3;
    grid-row: 1/2;
    height: 17vh;

}


h1 {
    color: #6e3f21c7
}

form {
    margin: 0 auto;
    width: 30vw;
    padding: 1em;
    border: 1px solid #c9ac9a;
    border-radius: 1em;
    text-align: center;
}
.member-area {
    margin: 0 auto;
    width: 30vw;
    padding: 1em;
    border: 1px solid #c9ac9a;
    border-radius: 1em;
    text-align: center;
        
}
form div + div {
    margin-top: 1em;
}

label {
    display: inline-block;
    width: 10vw;
    text-align: right;
    font-size: smaller ;
    align-items: center;
}

input, textarea {
    font: 1em sans-serif;
    width: 15vw;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    border: 1px solid #c9ac9a;
    align-items: center;
}



@media screen and (min-device-width : 320px) and (max-device-width : 480px){
    main{
        display: flex;
        flex-direction: column;
        height: 100%;
        padding-bottom: 5vh;
        padding-top: 5vh;
        row-gap: 5vh;
        padding-bottom: 5vh;
        padding-right: 4vh;
        padding-left: 4vh;

    }

    form, .member-area {
        width: 100%;
    }

    label {
        width: 100%;
        text-align: start;
    }

    input, textarea{
        width: 100%;
    }

    .em-baixo-da-header{
        display: none;
    }

}